


body { 
    font-size: 24pt ; 
    line-height: 135px;
    font-family:  'Joti-One', cursive;
    color: black;
}

h1 {
    font-size: 30pt;
    color: /* #xxxxxx */;
}

h2 {
    font-size: 24pt;
    text-align: center;
    border-bottom: 50px solid blue ;
}



header, footer, footer a {
    text-align: center;
    background-color: /* */;
    color:black;
}

header img {
    width: 200px;
    height: auto;
    float: right;
    box-shadow: 5px 10px;


}

footer {
    font-size: 12pt;
    line-height: 25px;
}