.style1

{margin: 0 auto; 
    border: 1px solid #bbb; 
    padding: 5px; 
    background-color: #eee; 
    line-height: 1.5em;}

#transport{
    
    width:200px;
    
    height: 200px;
	float: right;}
.smaller{
    
    font-size: 8pt;

}

#siteTitle {font-size: 36pt;
    color: green;

}
#subTitle { 
    font-size: 18pt;

}
ul.nav {margin: 0;
padding: 0;
list-style-type: none;
overflow: hidden;
text-align:center;
position: relative;
display: inline-block;
height: auto;


}

#navbuttons li{
	float: left;
	
}
#navbuttons li a {
	display:block; 
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}

#navbuttons li a:hover{
	
	background-color: black;
}
   
   h1, h3{
	text-align: center;
	
}