@media only screen and (min-width:64em ) {
	
 #navButton { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
   .forecast{
	   display:block;
   }
	
	html{
		width:100%;
		max-width:100%;
	
	}
	
	


ul {
list-style-type: none;
margin: 0;
padding: 0;
max-width: 1600px;
background-color: #f1f1a1;
display: inline;
margin: 1em;

}
li {
float:left;

}
li a {
display: inline;
color: black;
text-align: center;
padding: 8px 9px;
background-color: #f1f1a1;

}
#headerDiv{
	margin: 3em;
	width:100%;
	position: relative;
	right:0;
	height:100%;
}

#headerimage{
	width:100%;
	float:top-right;
	
}



    
  
  