/*@media only screen and (min-width:37.5 em){*/
html{
box-sizing: border-box;   
color:black;
	background-color:white;
	float: center;
	max-width: 37.5em;
    padding:2em;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:37.5em; 
                          /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

#wrapper {
	
width: 95%;
height: 15%;

margin-right:1em;
margin-left:1em;
margin-bottom:1em;
padding:1em;

    font-family:"Arial Black", Gadget, sans-serif;
}

#myNav{
	position:absolute;
    left: 0; 
	width: 2em;
	
}
ul{
	list-style-type: none;
	display:none;
	
}

.sliderImages{
margin-right: 1em;
 margin-left:1em;
 max-width: 15em;
 padding-top:1em;
 
}
#headerDiv{
	width: 95%;
	height: 15%;

margin-right:1em;
margin-left:1em;
margin-bottom:1em;
padding:1em;
position: relative;


    font-family:"Arial Black", Gadget, sans-serif;
}

#headerimage{
	max-width:15em;
}

 .weather-summary{
	margin:1em;
	padding-left:1em;
	padding-right:1em;
	font-size: 150%;
}

#sunny{
	width:3em;
	padding-left:3em;
}

.highlow{
	
}

.forecast{
	display:none
}

.t-a{
	margin:1em;
	
}

#futurama{
	max-width: 10em;
	padding-left:1em;
}

.contact{
	display:block;
	margin:1em;
	
}
.footer-bar{
	margin:1em;
}