@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html{
box-sizing: border-box;   
color:black;
	background-color:#f1f1a1;
	position:absolute;
	max-width:37.5em;
    padding:2em;
	
}
ul{
	list-style-type: none;
	display:none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1a1;
	font-family: 'Pacifico', cursive;
}

li a {
    display: grid;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color:  #ff5252;
    color: white;
}

	
#Nav{
	display:none;
	 max-width: 27em;
	flex-direction:column;
	
}

ul {
list-style-type: none;
margin: 0;
padding: 1 em;

background-color: #f1f1a1;
display: flex;
margin: 1em;

}
li {


}
li a {
display: flex;
color: black;
text-align: center;
padding: 8px 9px;
background-color: #f1f1a1;

}


header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:25em; 
                          /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}
#myDiv{
	width:100%;
	display : flex;
	flex-direction: row;
	font-weight: bold;
	flex-wrap: wrap;
	margin: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	justify-content: end;
	padding:10px;

}   
#myDiv:nth-child(odd){
	
	color: white; 
	background-color:#dd1b42;
}

#myDiv:nth-child(even){
	
	color: black; 
	background-color:#3257EF;
}

#title{
	color: #ff5252;
	font-family: 'Source Sans Pro', sans-serif;
}

.headlineImage{
width: 50%;

}