@media only screen and (min-width:37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    #navButton { display:none; }  /* hamburger button does not need to be shown in the medium on up views */
    
   .forecast{
	   display:block;
   }
  /* show the 10-day forecast with the medium view and up */
ul {
list-style-type: none;
margin: 0;
padding: 0;
max-width: 160px;
background-color: #f1f1a1;
display: inline;
margin: 1em;


}

.mynav{
overflow:hidden;
}

#slider{
margin:1em;
padding:1em;
width:50%;
height: 10%;
}
  }