html{
width: 64em;
}

.arrows{
	width: 1em;
}


.carousel{
	max-width: 100em;
	height: 1%;
	width: 10em;
}

.corouselLabel{
	display:none;
	width: 10em;
}

main{
	display: flex;
	margin:2em;
}

#carouselDIV{
	width: 10em;
}