html{
	font-family: Ubuntu, sans-serif
}
table {
	border-collapse:collapse;
	box-shadow: 5px 10px 5px 10px #d3d3d3;
}


table th{
	background-color: #628ca6;
	color: white;
	border: solid .5px white;
	
}
thead tr:first-child {
 background-color: 	#7fb9c2;
	margin:0;
	font: 30px;
	padding:0;
}
table td{
	padding:5px;
	text-align:center;
	border: .5px 
}

table tr:nth-child(odd){
	
	background:white;
}

table tr:nth-child(even){
	
	background: #e7f0ed;
}
#NovemberSalesGoal{
	background-color: #628ca6 ;
	color: white;
}

tfoot td{
	background-color: 	#7fb9c2;
	border-collapse:collapse;
}